@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap');

:root{
    --roxo:#6420AA;
    --pink:#FF3EA5;
    --rosa:#FF7ED4;
    --rosa-chiclete:#FFB5DA;
--font-titulo: "Oswald", sans-serif;
--font-texto: "Roboto Condensed", sans-serif;
}
body{
    background-color: var(--roxo);
    color:var(--rosa-chiclete);
    font-family: var(--font-texto);
}
.conteudo-principal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
}